<section class="section-separator {{ paddingClasses(padding) }} {{ marginClasses(margin) }}">
    <div class="_bkg">
        {% if image %}
            <img class="_img" src="{{ image.url }}" alt="{{ image.alt }}" />
        {% endif %}
    </div>
    <div class="_content">
        <div class="s-container">
            {% if title %}
                <h1 class="s-typo:h2">
                    {{ title|raw }}
                </h1>
            {% endif %}
        </div>
    </div>
</section>